body{
   margin: 0px;
   background-repeat: no-repeat;
   background-image: url(big1.jpeg);
   background-size: 100%;
   overflow: scroll;
}
#lft{
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
 }
 #lft img{
    text-align: left;
    display: flex;
    width: 70px;
    height: 70px;
 }
 #rgth{
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
 }
 nav{
    background-color: rgb(149, 149, 149);
    position: sticky;
    display: flex;
    justify-content: space-between;
 }
nav a{
    letter-spacing: 2px;
    color: rgb(71, 70, 70);
    text-decoration: none;
    padding: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold
}
body{
background-color: rgb(183, 183, 183);
}
#dstq{
   display:flex;
   justify-content: space-around;
  padding-right: 90px;
  padding-left: 90px;
}
#dstq img{
   display: flex;
padding-right: 15px;
padding-left: 15px;

}
h1{
   text-align: center;
}
#spr{
   text-align: center;
     
}
#peqeno img{
   
   height: 335px;
}
h4{
   margin-top: 11px;
   margin-bottom: 0px;
   margin-left: 0px;
   margin-right: 0px;
}