#lft{
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
 }
 #lft img{
    text-align: left;
    display: flex;
    width: 70px;
    height: 70px;
 }
 #rgth{
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
 }
 nav{
    background-color: rgb(149, 149, 149);
    position: sticky;
    display: flex;
    justify-content: space-between;
 }
a{
    letter-spacing: 2px;
    color: rgb(71, 70, 70);
    text-decoration: none;
    padding: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold
};